*{
    margin:0px;
    padding:0;
    outline:0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
	vertical-align: baseline;
}
body{

    margin-top:136px;
    background-color:black;
    color:white;
    font-family:'century gothic',Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    z-index: 1;
}
#introduction,#SobreMi,#proyectos{
    margin-left: 30px;
    margin-right: 30px;
}

ol, ul {
	list-style: none;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color:black;
    height: 136px;
    width: 100vw;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
    padding-top: 55px;
    padding-bottom:55px;
    z-index: 40;
}
.logo{
   padding: 25px 80px; 
}

.menuItems{
    display:flex;
    list-style:none;
    margin-right:30px;
}
.menuItems li{
    border-radius: 20px;
    margin: 0 5px;
}
.menuItems li a{
    padding: 7px 14px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;

}
.menuItems li:hover, li.active{
    background-color:#022D40;
    transition: .6s;
    border-radius: 20px;
    color:white;
}
.btn_menu{
    margin-right:30px;
    font-size:25px;
    cursor: pointer;
    display:none;
}
ul.show{
    top:65px;
}

@media screen and (max-width: 952px){
    .logo{
        /*height:128px;
        width:74px;*/
        padding-left:35px;
    }
    .menuItems li a{
        font-size:16px;   
    }
}

@media screen and (max-width: 858px){
    .menu{
        height:65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menuItems{
        position:fixed;
        width: 100vw;
        height: calc(100%-65px);
        background:black;
        top:-100vh;
        text-align:center;
        transition: all .4s;
        flex-direction:column;
    }
    .menuItems li{
        margin:30px 0 0 0;
        line-height: 30px;
    }
    .menuItems li:hover{
        background:none;
    }
    .menuItems li a {
        font-size: 20px;
        color:white;
        font-weight:bold;
    }
    .menuItems li a:hover{
        color:red;
    }
    .logo{
        padding-left: 35px;
    }
}
/*MEDIA QUERY MENU DE NAVEGACION*/

@media screen and (max-width: 858px)and (orientation: landscape){
    .menuItems li{
        margin:5px 0 0 0;
    }
    .menuItems{
        overflow:scroll;
        height: calc(100%-65px);
    }
}

/*INTRODUCCION*/
#introduccion, #SobreMi, #habilidades{
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: gray;
    border-radius:1px;
}

.fotoDiego{
    Justify-content:center;
    margin-top:60px;
}
.containerlogoTituloeIntro{
    display:flex;
    flex-direction:column;
    margin-left:110px;
    margin-top:60px;
}
.fotoeIntroContainer{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
}
.fotoeIntroContainer h2{
    font-size:48px;
    line-height: 59px;
    color:#0580B7;
}
.fotoeIntroContainer h2{
    font-size:48px;
    line-height: 59px;
    color:#0580B7;
}
.fotoeIntroContainer h2.nombreBold{
    font-weight: bold;
}
.tituloProgramador{
    font-size:48px;
    line-height: 59px;
    color:#0580B7;
}

.contenedorlogoyTitulo{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 0px;
}

.logo2{
    margin-right:40px;
}
.parrafoIntro{
    color:white;
    margin-top:70px;
    line-height:50px ;
}
.parrafoIntro h3{
    color:#0580B7;
    font-weight: bold;
    font-size:24px;
}
.parrafoIntro p{
    padding-top:20px;
    font-size:19px;

}

.datosDeContacto{
    color:#01A0C6;
    font-weight: bold;
    margin-top:15px;
    line-height:50px ;
}
/*************MEDIA QUERY INTRO**********/

@media screen and (max-width: 1200px){
    
    .fotoDiego{
        display:flex;
        Justify-content:center;
        margin-top:30px;
        width: 350px;
        height: 350px;
    }
    .fotoeIntroContainer{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        margin: 0px;             
    }
    .containerlogoTituloeIntro{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .contenedorlogoyTitulo{
        line-height: 0px;
    }
    .tituloDiegoFerroProgramador{
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    h2.nombreBold{
        padding: 0 0 0 0;
        font-size: 36px;
        justify-content: center;
        align-items: center;
    }



    .fotoeIntroContainer h2.nombreBold{
        font-weight: bold;
        font-size:36px;
    }
    .tituloProgramador{
        font-size:36px;
        line-height: 59px;
        color:#0580B7;
    }
}


/**************MIS REDES*****************************/
.misRedesContainer{
    display:flex;
    flex-direction: column;
    
}
.tituloMisRedes{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:#0580B7;
    font-weight: bold;
    font-size:24px;
    margin-top:110px;
    justify-content: center;
    
}
.CointainerLogosRedes{
    margin-top:5%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15%;
    margin-left:25%;
    margin-right:25%;
}
.iconContainer div{
    padding-right: 10px;
    padding-left: 10px;
}
/*****linea divisora de secciones****/
hr.divisorSecciones {
    border:none;
    height:1px;
    color: white;
    z-index: 5;
}


/*************Sobre Mí***********************/
.tituloSeccion{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:#0580B7;
    font-weight: bold;
    font-size:24px;
    margin-top:110px;
    margin-bottom:5%;
    justify-content: center;
}
h4{
    color:#0580B7;
    font-size: 20px;
    font-weight: bold;
}
h5{
    color:#0580B7;
    font-size: 16px;
    font-weight: bold;
}
.SeccionContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.experienciaContainer{
    display:flex;
    flex-direction:column;
    border-width: 1px;
    border-style: solid;
    border-color:#01A0C6 ;
    border-radius:30px ;
    padding: 20px 15px 0px 15px;
}
.SubtitulosSecSobreMi{
    padding-bottom:10%;

}
p.parrafoSobreMi{
    border-radius:30px ;
    background: linear-gradient(180deg, #00181E 0%, rgba(38, 38, 38, 0) 85.94%);
    padding: 25px 25px;
    margin-bottom:25px;
    line-height:2;
}
.timelineContainer{
    border-width: 1px;
    border-style: solid;
    border-color:#01A0C6 ;
    border-radius:30px ;
}

.educacionContainer{
    display:flex;
    flex-direction:column;
    border-width: 1px;
    border-style: solid;
    border-color:#01A0C6 ;
    border-radius:30px ;
    padding: 20px 15px 0px 15px;
}
/***********TIME LINE**************/
.Secc-container {
    min-height:100vh ;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #101010;*/
    padding: 100px 0;
}
.timeline {
    width: 80%;
    height: auto;
    max-width: auto;
    margin: 0 auto;
    position: relative;
}
.timeline ul{
    list-style: none;    
}
.timeline ul li {
    padding: 20px;
    background: linear-gradient(180deg, #00181E 0%, rgba(38, 38, 38, 0) 85.94%);
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child {
    margin-bottom: 0;
    }
.timeline-content h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    }
.timeline-content h3 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    }
.timeline-content .date{
    font-size: 14px;
    font-weight:300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}


@media screen and (min-width: 768px){
    .timeline::before{
        content:'';
        position:absolute;
        height: 100%;
        width:10px;
        left:50%;
        transform:translateX(-50%);
        background-color:white;
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(1) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 25px;
    }
    .timeline ul li:nth-child(2) {
        float: right;
        clear: right;
        transform: translateX(30px);
        border-radius: 25px;
    }
    .timeline ul li:nth-child(3) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 25px;
    }
    .timeline ul li:nth-child(4) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 25px;
    }
    /**************NODO******************/
    .timeline ul li::after{
        content:'';
        position:absolute;
        height:40px;
        width: 40px;
        background-color:gray ;
        border-radius:50%;
        border-style: solid ;
        border-color: white;
        border-width: 4px;
        bottom:0;
    }
    .timeline ul li:nth-child(1)::after{
        transform:translate(-50%,50%);
        left: -30px;;
    }
    .timeline ul li:nth-child(2)::after{
        transform:translate(-50%,50%);
        left: -30px;
    }
    .timeline ul li:nth-child(3)::after{
        transform:translate(50%,-50%);
        right: -30px;;
    }
    .timeline ul li:nth-child(4)::after{
        transform:translate(-50%,50%);
        left: -30px;;
    }
    .timeline ul li:hover:after{
        background-color:#01A0C6 ;

    }
} 

    

/******************MEDIA QUERY INTRODUCCION***********/

@media screen and (max-width: 470px){
    body{
        margin: 25px;
        margin-top: 111px;
        }
    .fotoDiego{
        Justify-content:center;
        margin-top: 15px;
        width: 160px;
        height: 160px;

     }
     .fotoeIntroContainer{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 0px; 
    }
    .logo2{
        display: none;
    }
    .containerlogoTituloeIntro{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .contenedorlogoyTitulo{
        line-height: 0px;
    }
    .tituloDiegoFerroProgramador{
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    /*/
    h2.nombreBold{
        padding: 0 0 0 0;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    */
    .tituloProgramador{
        font-size: 20px;
        line-height:0px;
        color:#0580B7;
    }    
    h3.tituloParrafo{
        color:red;
        justify-content: center;
        font-size: 18px;        
    }
    .parrafoIntro{
     margin-top:10px;   
    }
    .parrafoIntro p{
        padding-top:20px;
        font-size:14px;
        line-height: 15px;
    }
    .datosDeContacto{
        font-size:12px;
        color:#01A0C6;
        font-weight: bold;
        margin-left:0px;
        margin-top:0px;
        line-height:25px ;
    }
    
}

/**************SECCION HABILIDADES*****************/
#habilidades{
    margin-bottom:15%;
}
.habilidadesContainer{
    display:flex;
    flex-direction: row;    
    width: 95vw; 
    justify-content: space-between;
    padding: 2% 2%;
}
.tituloyBarra{
    display:flex;
    flex-direction: column;
    width:85%;
    justify-content: space-around;
}
.barraProgreso{
    position:relative;
    content:'';
    width: 100%;
    height:25%;
    background-color:white ;
    border-radius: 15px;
    z-index: 10;      
}
.barraProgreso:before{
    position:relative;
    display:block;
    content:'';
    width: 40%;
    height:88%;
    background-color:#0580B7;
    border-radius: 14px;  
    z-index: 20;
    margin-top:2px;
    margin-left: 3px;

}
/**************SECCION PROYECTOS*****************/
.SeccionContainerProyectos{
    border:#01A0C6 solid 2px;
    border-radius: 20px;
    padding: 30px;
    
}
.tituloProyecto{
    margin-top: 10px;
    margin-bottom: 40px;
}
.imagenWebTributoSalmona1{
    background-image:url
}
.containerGaleriaImgs{
    display:flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
}
.imagescontainer{
    display:flex;
    flex-direction: column;
}
.tituloydescripcionProyecto{
    padding: 20px;
    background: linear-gradient(180deg, #00181E 0%, rgba(38, 38, 38, 0) 85.94%);
    border-radius: 10px;
    margin-bottom: 20px;
}
.tituloDescripcion{
    margin-bottom:20px;
}
.descripcionProyecto{
    line-height: 2;
}
.titulotecnologiaUsadas{
    margin-top:20px;
    margin-bottom:20px
}
/************MEDIA QUERY PROYECTOS********/
@media screen and (max-width: 1422px){
    .SeccionContainerProyectos{
        align-content: center;
    }
    .containerGaleriaImgs{
        display:flex;
        flex-direction:column;
        margin: 30px; 
    }
}

/************Footer***********************/
#footer{
    margin-top: 110px;
    padding-top: 20px;
    height: 256px;
    background: #0580B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logoFooterContainer{
    padding-bottom:15px;
}
#contact-section{
    padding:3em;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}
.form{
    display:flex;
    flex-direction: column;
    width:90%;
    margin-top:2em;
    justify-content: center;
}
.form input{
    display:flex;
    flex-direction: column;
    padding:10px 20px;
    margin-bottom: 1em;
    background:#00151A;
    color:white;
    border-radius:8px 8px 0px 0px;
    border-bottom: 1px solid #fff;
}
.form textarea{
    height:150px;
    background:#00151A;
    color:white;
    padding:1.5em;
    border-radius:8px 8px 0px 0px;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
}
.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #01A0C6;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:1px 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: 100;
    color:white;  
}
.btn-submit:hover{
    background-color:#22A69E;

}

